html {
  margin: 0;
  color:rgb(248, 234, 157);
  background-color:#1f1f1f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow:hidden;
}

body {
  margin: 0;
  width:100vw;
  height:100vh;
}

main{
  text-align:center;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100vw;
}

#map {
  height: 60vh;
  border: 2px solid black;
  border-radius:0.25em;
  filter: brightness(88%);
}

input {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#km-input {
  font-size:1.2em;
  width:3.5em;
  height:1.2em;
  text-align: center;
  margin-bottom:0.125em;
  margin-right:0.5em;
}

#bar {
  text-align:center;
  font-size: 1.5em;
  margin: 0.4em 0 0.5em 0;
  letter-spacing:0.04em;
  font-weight:bold;
  color:white;
  text-shadow:
  1px 1px 0 rgba(0,0,0,0.25),
  -1px 1px 0 rgba(0,0,0,0.25),
  -1px -1px 0 rgba(0,0,0,0.25),
  1px -1px 0 rgba(0,0,0,0.25);
}

#sightseeing {
  margin: 0 0;
  text-align: center;
  width:100vw;
  box-sizing: border-box;
  padding: 1.5em 0.75em 2em 0.75em;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color:#1a1a1a;
  border-top: 3px #0a0a0a solid;
}

.card {
  font-size:1.4em;
  background-color:black;
  width:fit-content;
  display:inline-block;
  padding:1em;
  margin-right: 0.8em;
  border-radius:0.25em;
}